.header {
  display: flex;
  align-items: center;

  background-color: #a55c1b;
  background-image: linear-gradient(
    30deg,
    #7a4516 0%,
    #964f12 30%,
    #7a4516 74%,
    #964f17 95%
  );
  width: 100%;
  height: 100%;
  color: #ecd795;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: -webkit-sticky;
  position: sticky;

  top: 0;
  padding: 0 1.2rem;
}

.brand {
  flex-grow: 1;
  height: 100%;
  padding: 1rem;
  font-size: 1.2rem;
}

.nav {
  flex-grow: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;

  overflow: hidden;
}

.navItem {
  font-size: 1.2rem;

  text-align: center;

  width: fit-content;
  min-width: 10rem;
  height: 100%;

  overflow: hidden;

  cursor: pointer;

  transition: linear 0.2s;
}

.navItem a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  padding: 1.5rem 1rem;
}

.navItem:hover {
  color: #a55c1b;
  background-color: #ecd795;
  font-size: 1.25rem;
  font-weight: bolder;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0px 5px 0px 5px rgba(0, 0, 0, 0.3);
}
