.menuItem {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;

  font-size: 1.5rem;
  color: #703808;
}

.menuItemForm {
  display: grid;
  grid-template-columns: 5fr 3fr 2fr;
  align-items: center;
}

.menuItemQuantity {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  width: min-content;
}

.menuItemQuantity input {
  width: 50px;
  min-height: 2rem;

  text-align: center;
  background-color: wheat;

  border: none;
  appearance: none;
}

.menuItemQuantity input::-webkit-outer-spin-button,
.menuItemQuantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.menuItemQuantityButton {
  background-color: #a55c1b;

  cursor: pointer;

  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: wheat;
  border-radius: 2px;
}

@media (max-width: 660px) {
  .menuItem {
    font-size: 1rem;
    width: 100%;
  }
}
